/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
 @import url(https://fonts.googleapis.com/css?family=Quicksand);
 /* line 5, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center, div,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, header, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   text-decoration: none;
   font-family: 'Quicksand', sans-serif;
   font-size: 100%;
   vertical-align: baseline;
 }

 html {
   height: 100%
 }

 body {
   height: 100%;
 }

 iframe {
   left: calc((100% - 560px)/2);
   height: 315px;
   width: 560px;
 }

 .svg-anim{
   width: 25%; 
   margin-left: 37.5%; 
 }

  
 /*#region SponsorsDisplay */
 img{
  position: center;
  width:100%;
  height:auto;
}

.img-showcase{
  margin: 5%;
  width: 30%;
  height: auto;
}

.img_icon{
  width: 2em;
  height: auto;
  top: 0%;
}
/*#endregion SponsorsDisplay */

 /*#region BiographyCSS */
 .ucla3d4e-biocontainer {
   display: grid;
   grid-gap: 2.5% 2.5%;
   align-content: center;
   grid-template-rows: repeat(8, minmax(1fr, 10em));
   grid-template-columns: 1fr;
 }

 .ucla3d4e-bioelement, .ucla3d4e-projectelement{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5% 5%;
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 10% 10%;
  align-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
 }

 .ucla3d4e-biodesc{
  display: grid;
  grid-gap: 0.5% 2.5%;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: 1fr;
  overflow-y: auto;
 }

 .biotext {
   color: #fff;
   text-align: left;
 }
 /*#endregion BiographyCSS */

 /*#region ParallaxCSS */
 .ucla3d4e-parallax-1 {
   background-image: url("./BG/mainbg.JPG");
   height: 100%; 
   width: 100%;
   margin: 0; 
   padding: 0; 
   background-attachment: fixed; 
   background-size: cover; 
   background-position: center center; 
   background-repeat: no-repeat; 
   z-index: -1;
   position: relative;
 }

 .ucla3d4e-parallax-2 {
  background-color: #522546;
  height: 100%; 
  width: 100%;
  margin: 0; 
  padding: 0; 
  z-index: -1;
  position: relative;
}

.ucla3d4e-parallax-3 {
  background-image: url("./BG/retreatbg.jpg");
  height: 100%; 
  width: 100%;
  margin: 0; 
  padding: 0; 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  z-index: -1;
  position: relative;
}

.ucla3d4e-parallax-4 {
  background-image: url("./BG/wemakebg.JPG");
  height: 100%; 
  width: 100%;
  margin: 0; 
  padding: 0; 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  z-index: -1;
  position: relative;
}

.ucla3d4e-parallaxcontainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}

/*#endregion ParallaxCSS */

/*#region NavigationMenuCSS */
.ucla3d4e-whitetext {
  color: #f6f6f6;
}

.ucla3d4e-greytext {
  color: #dbe2ef;
}

.burgerWrapper {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.burgermenu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.MobileMenuGrid {
  padding-top: 10em;
  background-color: #cccccc;
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 2;
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
}

 .ucla3d4e-navmenu {
  top: 0;
  width: 100%;
  height: 20%;
  padding: 1.5%;
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr 3fr 2fr;
  grid-template-rows: 1fr;
  z-index: 1;
 }

 .ucla3d4e-navmenu-M {
  top: 0;
  width: 100%;
  height: 15vh;
  padding: 1.5%;
  position: fixed;
  visibility: hidden;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  z-index: 3;
 }

 .ucla3d4e-menuitems {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
 }

 svg {
  height: 100%;
  width: auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
 }

 .socialmedia {
   fill: #3f72af;
   stroke: #3f72af;
   cursor: pointer;
 }
 
 .ucla3d4e-logocontainer, .ucla3d4e-logocontainer-M, .ucla3d4e-pdfsvg {
  height: 100%; 
  width: 100%; 
  margin: auto; 
  align-items: center; 
  position: relative;
 }

 .ucla3d4e-logocontainer-M {
   max-width: 150px
 }

 .ucla3d4e-socialsvg {
   display: block;
   width: 40px;
   height: 40px;
   position: relative;
 }

 .ucla3d4e-socialmedia {
   align-items: center;
   justify-items: center;
   height: 75%;
   width: 100%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
 }

 /*#endregion NavigationMenuCSS */
 
 /*#region DivWrappers */
 .ucla3d4e-introwrapper-1 {
  width: 100%;
  height: 100%;
  margin: auto auto;
  padding: auto;
  display: grid;
  align-content: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
 }

 .ucla3d4e-introwrapper-2 {
  width: 100%;
  height: 100%;
  display: grid;
  margin: auto auto;
  padding: auto;
  align-content: center;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
 }

 .ucla3d4e-introwrapper-3 {
   width: 100%;
   max-height: 100%;
   display: grid;
   align-items: center;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 5fr;
 }

 .ucla3d4e-introwrapper-4 {
   width: 100%;
   max-height: 100%;
   display: grid;
   align-items: center;
   justify-items: center;
   grid-template-columns: 1fr;
   grid-auto-rows: 5fr 1fr;
   grid-gap: 1.5%;
 }

 .clip-circle {
   clip-path: circle(50% at center);
 }

 button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  margin: auto;
 }

 .ucla3d4e-text {
   padding: 5%;
   width: 100%;
   z-index: 1;
   display: grid;
   justify-items: center;
 }

 .ucla3d4e-text-2 {
  padding: 5%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #f6f6f6
}
  .ucla3d4e-bgvideo {
    position: relative;
    right: 0;
    bottom: 0;
    max-width: 100%; 
    max-height: 100%;
  }

 .ucla3d4e-navbutton {
  position: fixed;
  display: grid;
  align-content: center;
  margin: auto;
 } 
 
 .ucla3d4e-linkdiv {
   text-align: center;
   display: block;
 }

 .ucla3d4e-nav {
   display: grid;
   width: 100%;
   height: fit-content;
   align-items: center;
   justify-items: center;
 }

 .ucla3d4e-workshop {
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  display: grid;
  grid-gap: 5%;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(auto-fill, minmax(10em, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
 }

 .ucla3d4e-projects {
   width: 100%;
 }

.ucla3d4e-navtitle{
  text-align: center;
  color: #3f72af;
}

.ucla3d4e-button{
  font-size: 1.5em;
  font-family: 'Roboto Condensed';
  color: #ff5722;
  text-align: center;
  text-transform: uppercase;
  cursor: 'pointer';
}

.ucla3d4e-button:hover {
  color: #00e0ff;
  transition: 0.3s;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  align-content: center;
  justify-content: center;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #00e0ff;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
 /*#endregion DivWrappers */

/*#region ImageGalleryCSS */

#portfolio {
  width: 100%;
  height: 100%;
  background: #522546;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  align-content: center;
  justify-items: center;
}
.project {
  width: 100%;
  height: 100%;
  position: relative;
  background: #F2DAD7;
  overflow: hidden;
}

.project >  img {
  position: absolute;
  opacity: 0.9;
}
.project > p {
  position: absolute;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 1em 0;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 3;
}
.project > .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 2px;
}

.project:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(226, 60, 85, 0.85);
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}

.grid__overlay > button {
    background: none;
    outline: none;
    font-weight: 100;
    letter-spacing: 2px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
}

.grid__overlay > button:hover {
    transition: all 0.3s ease-in-out;
    background: #ffffff;
    color: #D1A39E;
    transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(#474545, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}
.overlay .open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: #ffffff;
  width: 700px;
  padding: 20px;
  position: relative;
  opacity: 1;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.color:hover {
    color: #D1A39E;
}

.project__image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover
}

/*#endregion ImageGalleryCSS */

/*#region OverlayPage */
.ucla3d4e-overlaypage {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: 5;
  display: none;
}

#overlay-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.overlay-exit {
  font-size: 3em;
  color: #fff;
  text-align: left;
  width: 100%;
}

.ucla3d4e-disablescroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.ucla3d4e-sponsors {
  opacity: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.70);
  align-items: center;
  justify-items: center;
  padding: 5%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2.5%;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

#biobutton {
  display: none;
  opacity: 0;
}

#biobutton, #sponsorbutton {
  color: #fff;
}

#biobutton:hover, #sponsorbutton:hover {
  color: #00e0ff;
}
 
 
#menu-main, #main-icon{
  cursor: pointer;
}
 
svg {
  display: block;
  width:100%;
}

.logostyle {
  fill:none;
  stroke: rgb(17, 45, 78);
  stroke-width:30;
  stroke-miterlimit:10;
}
/*#endregion OverlayPage */

/*#region HamburgerCSS */
 .icon{
   position: absolute;
   top: 50%;
   left: 90%;
   transform: translate(-100%, 100%);
   width: 2em;
   height: 2em;
   cursor: pointer;
   z-index: 10;
 }
 .menu_hamburger{
   width: 3em;
   height: 0.2em;
   position: absolute;
   background: #fff;
   top: 50%;
   left: 50%;
   transform: translate (-50%, -50%);
   box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.5);
   transition: 0.5s;
 }
 .menu_hamburger:before, .menu_hamburger:after{
   content: "";
   position: absolute;
   width: 3em;
   height: 0.2em;
   background: #fff;
   box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.5);
   transition: 0.5s;
 }
 .menu_hamburger:before{
   top: -1em;
 }
 .menu_hamburger:after{
   top: 1em;
 }
 .icon.active .menu_hamburger:before, .menu_hamburger:after{
   box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.5);
 }
 .icon.active .menu_hamburger{
   background: rgba(0, 0, 0, 0);
   box-shadow: 0 0.2em 0.3em rgba(0, 0, 0, 0.0);
 }
 .icon.active .menu_hamburger:before{
   top: 0;
   transform: rotate(45deg);
 }
 .icon.active .menu_hamburger:after{
   top: 0;
   transform: rotate(-45deg);
 }
 /*#endregion HamburgerCSS */
 
/*#region ResponsiveUIForMobile */
 @media (max-width:1000px){
  html {
    font-size: 12px;
  }

  h1{
    font-size: 4em;
  }

  p {
    font-size: 1.5em;
  }

  .ucla3d4e-navmenu-M {
    visibility: visible;
  }

  .ucla3d4e-navmenu {
    visibility: hidden;
  }

  .ucla3d4e-introwrapper-1 {
    grid-template-rows: 0 1fr;
    grid-template-columns: 1fr;
    background-color: rgb(255, 255, 255, 0.75)
   }
   
   .ucla3d4e-introwrapper-2 {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
   }

}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  h1{
    font-size: 4em;
  }

  p {
    font-size: 1.5em;
  }  

}

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }

  h1{
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  .ProjectBodyFrame {
    padding: 5% 5%;
  }

  .ProjectOverviewBar {
    grid-gap: 1em;
  }

}

/*#endregion ResponsiveUIForMobile */
 
 /*#region GalleryClasses */
 * {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 .gallery {
   background: #EEE;
 }
 
 .gallery-cell {
   width: 28%;
   height: 200px;
   margin-right: 10px;
   background: #8C8;
   counter-increment: gallery-cell;
 }
 
 .gallery-cell.is-selected {
   background: #FFF;
 }
 
 /* cell number */
 .gallery-cell:before {
   display: block;
   text-align: center;
   content: counter(gallery-cell);
   line-height: 200px;
   font-size: 80px;
   color: white;
 }
 
 /* Carousel */
 .carousel {
   background: rgba(0, 0, 0, 0);
 }
 
 .carousel-cell {
   width: 70%;
   height: 50vh;
   /* flex-box, center image in cell */
   display: -webkit-box;
   display: -webkit-flex;
   display:         flex;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
           justify-content: center;
   -webkit-align-items: center;
           align-items: center;
 }
 
 .carousel-cell img {
   display: block;
   width: 100%;
   height: 100%;
   /* dim unselected */
   opacity: 0.7;
   -webkit-transform: scale(0.85);
           transform: scale(0.85);
   -webkit-filter: blur(5px);
           filter: blur(5px);
   -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
           transition: opacity 0.3s, transform 0.3s, filter 0.3s;
 }
 
 /* brighten selected image */
 .carousel-cell.is-selected img {
   opacity: 1;
   -webkit-transform: scale(1);
           transform: scale(1);
   -webkit-filter: none;
           filter: none;
 }
 
 @media screen and ( min-width: 768px ) {
   .carousel-cell {
     height: 400px;
   }
 }
 
 @media screen and ( min-width: 960px ) {
   .carousel-cell {
     width: 60%;
   }
 }
 
 /* buttons, no circle */
 .flickity-prev-next-button {
   width: 60px;
   height: 60px;
   background: transparent;
   opacity: 0.6;
   transition: opacity 0.2s ease-in-out;
 }
 .flickity-prev-next-button:hover {
   background: transparent;
   opacity: 1;
   transition: opacity 0.2s ease-in-out;
 }
 /* arrow color */
 .flickity-prev-next-button .arrow {
   fill: white;
 }
 .flickity-prev-next-button.no-svg {
   color: white;
 }
 /* closer to edge */
 .flickity-prev-next-button.previous { left: 0; }
 .flickity-prev-next-button.next { right: 0; }
 /* hide disabled button */
 .flickity-prev-next-button:disabled {
   display: none;
 }
 
 
 /* FONTS */
 /* TODO: DEFAULT TO TEXT-CONTAINER WHEN IT IS MOBILE */
 .text-container {
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 80%;
   text-align: center;
 }
 
 .text-showcase {
   background-color: rgba(0, 30, 44, 0.66);
   text-align: left;
   padding: 1em 1em;
 }
 
 .background-col {
   background-color: rgba(3, 15, 37, 0.66);
 }
 
 .background-wood {
   background-color: rgba(73, 24, 1, 0.75)
 }
 
 .showcase-title{
   text-align: left;
   line-height: 1.5em;
 }
 
 .research {
   display: flex;
 }
 
 h1 {
   color: #112d4e;
   text-align: center;
   word-spacing: 0.1em;
   letter-spacing: 0.1em;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 7em;
   font-weight: 500;
   text-transform: uppercase;
   text-decoration: none;
 }
 
 h2 {
   text-align: center;
   color: #fdfdfd;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 5em;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
 }
 
 h3 {
   text-align: center;
   letter-spacing: 1px;
   word-spacing: 8px;
   color: #112d4e;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 3em;
   text-transform: uppercase;
   text-decoration: none;
 }
 
 h4 {
   text-align: center;
   letter-spacing: 0.01em;
   line-height: 1.2em;
   word-spacing: 0.02em;
   color: #112d4e;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 2em;
   text-transform: uppercase;
   text-decoration: none;
 }

 .biotitle {
   text-align: left;
 }

 .biowrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
 }
 
 h5 {
   color: #112d4e;
   text-align: center;
   letter-spacing: 0.01em;
   word-spacing: 0.02em;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 1.2em;
   line-height: 1.5em;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
 }
 
 p {
   color: #112d4e;
   font-family: 'Quicksand', sans-serif;
   font-size: 1.2em;
   text-decoration: none;
   line-height: 1.5em;
 }
 
 .description{
   padding: 0.5% 2.5%;
 }
 
 p.quote {
   line-height: 0.5em;
   text-align: center;
   font-style: italic;
   color: #fff;
 }
 
 p.overview {
   color: #fff;
 }
 
 body {
   font-family: 'Roboto Condensed Condensed', sans-serif;
   background-color: #000;
 }
 
 .caption {
   color: rgb(30,30,30);
   font-size: 1.5em;
   line-height: 1.2em;
 }
 
 a {
   color: #fff;
 }

 /*#endregion GalleryClasses */
 
 