.ucla3d4e-shopmenu {
  background-color: #151718;
  top: -8em;
  width: 100%;
  height: 8em;
  padding: 0% 1.5%;
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 5fr 3fr;
  grid-template-rows: 1fr;
  transition: top 0.5s;
  }

.ucla3d4e-menuitems-shop {
width: 100%;
height: 100%;
display: grid;
align-items: center;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
}

.logostyle-shop {
  fill:none;
  stroke: #fdfdfd;
  stroke-width:30;
  stroke-miterlimit:10;
}

.shop3d4e-bottomdiv {
  width: 20%;
  padding: 3em;
  bottom: -8em;
  left: 0;
  z-index: 2;
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 8em;
  transition: bottom 0.5s;
}

.shop3d4e-bottombutton {
  display: block;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background-color: #3f72af;
  transition: background-color 0.25s;
}

.shop3d4e-addbutton {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  background-color: #3f72af;
  transition: background-color 0.25s;
}

.shop3d4e-addbutton:hover, .shop3d4e-bottombutton:hover {
  background-color: #769fcd;
}

.scrollUp {
    top: 0;
}

.bottomDown {
    bottom: 0;
}

#shop-body {
  opacity: 1;
  transition: opacity 0.5s;
}

.shop-fadeOut {
  opacity: 0 !important;
}

.ucla3d4e-shoptitle{
    text-align: center;
    color: #fdfdfd;
  }

.shop-socialmedia {
  fill: #f5f5f5;
  stroke: #f5f5f5;
}

.shophighlight {
    display: inline;
    position: relative;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.shophighlight:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #fdfdfd;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.shophighlight:hover:after,
.shophighlight:focus:after,
.shophighlight:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.ucla3d4e-apparel-bar, .ucla3d4e-print-bar, .ucla3d4e-fundraiser-bar {
    width: 100%;
    padding: 2.5% 0%;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 30em);
    grid-auto-rows: 30em;
    grid-gap: 2.5%;
  }

.ucla3d4e-feature-bar {
    padding-top: 9em;
    width: 100%;
    position: relative;
}

.ucla3d4e-tab-title {
    padding-top: 5em;
}

.ucla3d4e-item-div {
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  color: white;
}
 
.ucla3d4e-item {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3em;
    grid-gap: 2.5%;
}

.ucla3d4e-item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ucla3d4e-item-img:hover {
    opacity: .5;
}

.ucla3d4e-item-desc {
    text-align: start;
}

/* For product forms */
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}


.ucla3d4e-feature-img {
  object-fit: cover;
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.ucla3d4e-product-details {
  padding: 5em 0;
}

.carousel-cell {
    width: 66%;
    height: 500px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 500px;
    font-size: 80px;
    color: white;
}

/* Disable blur and scaling */
.carousel-cell img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
}

.carousel-nav .carousel-cell {
    height: 80px;
    width: 100px;
  }
  
  .carousel-nav .carousel-cell:before {
    font-size: 50px;
    line-height: 80px;
  }
  
  .carousel-nav .carousel-cell.is-nav-selected {
    background: #ED2;
  }

/* position dots in carousel */
.flickity-page-dots {
    bottom: 10px;
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: white;
  }

/* Cart Item Preview */
.ucla3d4e-item-preview {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 2fr;
    grid-gap: 2.5%;
    padding: 5%;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.ucla3d4e-item-config {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 3em;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 5%;
}