<div id="Logo" class="ucla3d4e-logocontainer">
        <a href="#shop-body">
          <svg id="shop-main-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
              <path id="Three" class="logostyle-shop" d="M139 102c9.1-7.9 23.6-18.8 43.9-26.6 15.6-6 29.6-8.4 40.1-9.4v152H57"/>
              <path id="ThreeStroke" class="logostyle-shop" d="M221 145h-79"/>
              <path id="D" class="logostyle-shop" d="M275 66v152h150c-1.5-13.7-8.8-66.3-54-108-38-35.1-80.8-42.2-96-44z"/>
              <path id="FourR" class="logostyle-shop" d="M223 250v184"/>
              <path id="FourL" class="logostyle-shop" d="M71 250c.1 12.6 1.7 30.2 8 50 5.2 16.4 12 29.4 18 39h126"/>
              <path id="E" class="logostyle-shop" d="M443 265H275v154c11.4-1.3 28.8-4.6 48-14 19.5-9.6 33-21.6 41-30"/>
              <path id="EStroke" class="logostyle-shop" d="M275 339h84"/>
          </svg>
          </a>
    </div>
    <div></div>
    <div class="ucla3d4e-menuitems-shop">
    <div class="ucla3d4e-nav">
      <a href="#tab-apparel" class="ucla3d4e-linkdiv"><h5 id="projects" class="ucla3d4e-shoptitle shophighlight">Apparel</h5></a>
    </div>
    <div class="ucla3d4e-nav">
        <a href="#tab-prints" class="ucla3d4e-linkdiv"><h5 id="workshops" class="ucla3d4e-shoptitle shophighlight">Prints</h5></a>
      </div>
    <div class="ucla3d4e-nav">
      <a href="#tab-fundraisers" class="ucla3d4e-linkdiv"><h5 id="media" class="ucla3d4e-shoptitle shophighlight">Fundraisers</h5></a>
    </div>
  </div>
  <div class="ucla3d4e-socialmedia">
    <div></div>
    <div></div>
    <div></div>
</div>
<script type="text/javascript">// Select all links with hashes
    $('a[href*="#"]')
      // Remove links that don't actually link to anything
      .not('[href="#"]')
      .not('[href="#0"]')
      .click(function(event) {
        // On-page links
        if (
          location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
          && 
          location.hostname == this.hostname
        ) {
          // Figure out element to scroll to
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          // Does a scroll target exist?
          if (target.length) {
            // Only prevent default if animation is actually gonna happen
            event.preventDefault();
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000, function() {
              // Callback after animation
              // Must change focus!
              var $target = $(target);
              $target.focus();
              if ($target.is(":focus")) { // Checking if the target was focused
                return false;
              } else {
                $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                $target.focus(); // Set focus again
              };
            });
          }
        }
      });</script>